@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300&display=swap');

.table {
  margin-top: 2px;
  /* overflow: scroll; */
  overflow-y: scroll;
  height: 300px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  /* background-color: white; */
}
.table::-webkit-scrollbar {
  display: none;
}

.table tr {
  /* by using this, we can use up all width of the screen */
  display: flex;
  justify-content: space-between;
}

/* .table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
} */

.table td {
  padding: 0.5rem;
  border: none;
}
