.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  // .dark-mode {
  //   filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
  //     saturate(0.3) brightness(0.7);
  // }
}

.info-flag img {
  width: 100px;
  // border-radius: 3px;
}

.info-flag {
  height: 90px;
  width: 100%;
  background-size: cover;
  border-radius: 5px;
}

.info-confirmed,
.info-deaths,
.info-recovered,
.info-vaccinated {
  font-size: 14px;
  margin-top: 3px;
  background-color: #21272e;
}

.info-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 3px;
}
